
<div class="jumbotron">
        <div class="container my-5">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">{{title}}</h1>
            <p class="col-lg-8 mx-auto fs-5 text-muted">
                Gestiona tus productos con la aplicacion web SPA creada con Angular desde cero          
            </p>
            <div class="d-inline-flex gap-2 mb-5">
                <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
                  Ver productos
                
                </button>
                <button class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
                  Anadir productos
                </button>
              </div>
            </div>
        </div>
</div>