<h1>hola</h1>

<!--
<div class="k-block">
    <button kendoButton [look]="'default'">Default</button>
    <button kendoButton [look]="'outline'">Outline</button>
    <button kendoButton [look]="'flat'">Flat</button>
    <button kendoButton [disabled]="true">Clear</button>

</div>
<br>
<kendo-buttongroup [width]="'10'">
    <button kendoButton  [primary]="true">Primary</button>
    <button kendoButton >Togglable</button>
    <button kendoButton [icon]="'user'">Primary Action</button>
</kendo-buttongroup>

-->



