
<div class="example-wrap">
  <form class="k-form k-form-md" [formGroup]="registerForm">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">User Details</legend>
      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="firstName"
          text="First Name"
        ></kendo-label>
        <kendo-textbox
          formControlName="firstName"
          #firstName
          required
        ></kendo-textbox>

        <kendo-formhint>Your first name</kendo-formhint>
        <kendo-formerror>Error: First name is required</kendo-formerror>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="lastName"
          text="Last Name"
        ></kendo-label>
        <kendo-textbox
          formControlName="lastName"
          #lastName
          required
        ></kendo-textbox>

        <kendo-formhint>Your last name</kendo-formhint>
        <kendo-formerror>Error: Last name is required</kendo-formerror>
      </kendo-formfield>

      

      <kendo-formfield>
        <kendo-label
          labelCssClass="k-form-label"
          [for]="email"
          text="Email"
        ></kendo-label>
        <kendo-textbox
          formControlName="email"
          #email
          required
        ></kendo-textbox>

        <kendo-formhint>Your active email</kendo-formhint>
        <kendo-formerror>Error: Not valid email format</kendo-formerror>
      </kendo-formfield>

      <kendo-formfield>
        <div class="k-checkbox-wrap">
          <input
            #acceptNews
            type="checkbox"
            kendoCheckBox
            formControlName="acceptNews"
          />
          <kendo-label
            [for]="acceptNews"
            class="k-checkbox-label"
            text="I want to receive notifications"
          ></kendo-label>
        </div>

        <kendo-formhint
          >You will receive our latest updates and promotions on your
          email</kendo-formhint
        >
      </kendo-formfield>

      <div class="k-form-buttons">
        <button kendoButton themeColor="primary" (click)="submitForm()">
          Submit
        </button>
        <button kendoButton (click)="clearForm()">Clear</button>
      </div>
    </fieldset>
  </form>
</div>
