

    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
            <h3>{{title}}</h3>
            <br>
            <div *ngIf="!products">
                Cargando...
            </div>
            <div *ngIf="products" class="text-center container">
                <div class="row">
                    <div class="col-lg-3" *ngFor="let product of products">
                      <div class="thumbnail">
                        <div *ngIf="product.imagen">
                          <img src="http://localhost/angular17_backend/uploads/{{product.imagen}}" class="producto_imagen">
                        </div>
                        <div *ngIf="!product.imagen">
                          <div class="imagen_relleno"></div>
                        </div>
                        <div class="caption">
                          <h3>{{product.nombre}}</h3>
                          <p>{{product.precio}}€</p>

                          <div *ngIf="confirmDelete != product.id">
                            <a [routerLink]="['/product-details', product.id]" id="botones" class="btn btn-sm btn-primary">Ver</a>
                            <a [routerLink]="['/product-edit', product.id]" id="botones" class="btn btn-sm btn-warning">Editar</a>
                            <a (click)="deleteConfirm(product.id)" id="botones" class="btn btn-sm btn-danger">Borrar</a>
                          </div>  
                          
                          <div class="seguro" *ngIf="confirmDelete == product.id">
                              
                              <a (click)="onDeleteProduct(product.id)" class="btn btn-sm btn-primary">Delete product</a>
                              <a (click)="cancelDelete()" class="btn btn-sm btn-warning">No</a>
                          </div>
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    


