#contenedor{
    background-color: darkgray;
}



.activated{
    text-decoration: none !important;
    background-color: darkblue !important;
   
}



.nav-link:hover{
    background-color: grey ;
}

.imagen_relleno{
    background-color: grey;
    width: 100%;
    height: 200px;
    box-shadow: 8px 8px 5px grey;
}

.producto_imagen{
    width: 100%;
    height: 200px;
    box-shadow: 8px 8px 5px grey;
    display: block;
    border-style: solid;
}

#botones{
    border-style: solid;
    margin-right: 5px;
}